# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.venv/

# Environment / secrets
.env
.env.*

# Logs
*.log

# OS junk
.DS_Store

# VS Code / IDE
.vscode/
.idea/

# Jupyter / analysis
.ipynb_checkpoints/
.env
